@reference '../../app/globals.css';

.card {
  @apply bg-white/75 backdrop-blur shadow drop-shadow shadow-amber-50;
}

.clickable {
  @apply cursor-pointer select-none;
  @apply transition hover:scale-[101%] active:scale-[98%];
}