@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root{
    color-scheme: dark;
  }

  P {
    @apply my-2
  }

  a {
    @apply decoration-transparent text-red-500;
  }

  a:hover {
    text-decoration: underline;
  }

  ul {
    @apply list-disc pl-6;
  }

  ol {
    @apply list-decimal pl-6;
  }

}