@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source inline("col-span-{1..6},row-span-{1..6}}");

@config '../tailwind.config.js';

@layer base {

  :root {
    -webkit-tap-highlight-color: transparent;
  }

  a {
    text-decoration: underline;
  }

  * {
    scrollbar-width:thin;
  }

}