@use 'colors';

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  a {
    font-weight: bold;
    padding: 6px 12px;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
    background-color: colors.$primary-color;
  }
}