.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.nav a {
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 4px;
}

.nav a:hover {
  text-decoration: none;
  color: #fff;
  background-color: #ff0000;
}